body {
  text-rendering: optimizeLegibility;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.topLogo {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #111;

  justify-content: space-between;
}

.rightLogo {
  display: flex;
  margin-right: 20px;
  height: 90px;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
}

.cart {
  margin-right:8px;
  height: 20px;
  cursor: pointer;
}

.lang {
  display: flex;
  flex-wrap: nowrap;
}

.lang-button {
  padding: 10px 12px;
  cursor: pointer;
}

.lang-button.selected {
  background-color: #333;
  transition: 100ms;
}

ul {
  position: absolute;
  background-color: #333;
  margin-top: 490px;
  padding: 10px 16px;
  z-index: 1;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  opacity: 0;
  visibility: hidden;
}

ul.selected {
  opacity: 1;
  visibility: visible;
}
 

.lang-menu {
  font-size: 13px;
  color: #999;
}

li.lang {
  height: 28px;
  width: 110px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.flag {
  height: 16px;
  margin-right: 2px;
}

.menu-flag {
  height: 20px;
}

.aDown {
  height: 20px;
}


nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  line-height: 1.625;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #e6e6e6;
  background-color: #333;
}
.nav-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.3rem;
  color: #f1f2f2;
  transition: all .25s ease-out;
  border-top: 1px solid #333;
}

.nav-item:hover {
  cursor: pointer;
  border-top: 1px solid #0083db;
}

i {
  border: solid #f1f2f2;
  width: 2px;
  height: 2px;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-top: 5px;
  margin-left: 8px;
  transition: all .25s ease-out;
}

.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i.arrow2 {
  border: solid #999;
  width: 2px;
  height: 2px;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i.arrow2.selected {
  border: solid #e6e6e6;
  width: 2px;
  height: 2px;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.trial-button {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #4d4d4d;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: 700;
  line-height: 20px;
  min-width: 137px;
  letter-spacing: .3px;
  transition: all .25s ease-out;
  margin: .625rem;
  outline-width: 0;
  padding: .625em .875em;
}

.trial-button:hover {
  background-color: #1a1a1a;
  border-radius: 3px;
  cursor: pointer;
  outline-width: 0;
}

.search {
  margin-left: auto;
  margin-right: 5px;
  height: 40px;
}

.search:hover {
  cursor: pointer;
}

.searching {
  border: none;
  
}

.splash {
  display: grid;
  grid-template: 120px 60px 60px / 45% 55%;
  grid-row-gap: 10px;
  align-content: center;
  align-items: center;
  margin: 0;
  min-height: 450px;

  background-image: url('../home.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
}

.splash-main {
  opacity: 1;
  z-index: 1;
}

.splash-head {
  margin-left: 20px;
  margin-bottom: 1.875rem;
  color: #FFF !important;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  grid-row: 1/2;
}

.splash-p {
  margin-left: 20px;
  font-weight: 700;
  grid-row: 2/3;
}

.splash-buttons {
  margin-left: 20px;
  grid-row: 3/4;
}

.splash-b1 {
  cursor: pointer;
  min-width: 150px;
  font-size: 110%;
  height: 55px;
  margin-right: 20px;
  border-radius: 3px;
  border-color: #8bc34a;
  background-color: #8bc34a;

}
.splash-b1 {
  background-color: #689f38;
}

.splash-b2 {
  cursor: pointer;
  min-width: 150px;
  height: 55px;
  margin-left: 20px;
  font-size: 110%;
  border-width: 2px;
  border-color: #FFF;
  color: #FFF;
}